################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xonix/v17
/.vs
/out/build/x64-Debug
